
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <div class="text-center">
        <h2>Contact</h2>
<div class="">
    <p> My name is Andrii Dziuba. I'm junior .Net Developer. </p>
    <p>+38-(050)-139-89-79</p>
</div>
    </div>
</div>

